.suggestion-list::-webkit-scrollbar {
  display: none;
}

.suggestion-list {
  border: 1px solid #7057d2;
  font-size: 0.8rem;
  font-weight: bold;
  width: 200px;
  max-height: 260px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  padding: 22px 13px;
  border-radius: 4px;
  box-shadow: none;
  transform: scale3d(1none, 1none, 1none);
  transform-style: preserve-3d;
}
.suggestion-list__no-results {
  padding: 0.2rem 0.5rem;
}
.suggestion-list__item {
  border-radius: 5px;
  margin-bottom: 4px;
  cursor: pointer;
  color: #333;
  margin-left: 0px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  padding: 13px 20px;
  align-items: center;
  border-radius: 4px;
  min-height: 32px;
  display: flex;
  align-items: center;
  line-height: 100%;
  border: 2px solid transparent;
}
.suggestion-list__item:last-child {
  margin-bottom: 0;
}
.suggestion-list__item.is-selected,
.suggestion-list__item:hover {
  background-color: #fff;
  color: #333;
  border: 2px solid transparent;
  background: #7057d2 !important;
  color: white;
  border-radius: 4px;
}
.suggestion-list__item.is-empty {
  opacity: 0.5;
}

.tippy-box[data-theme~='dark'] {
  background-color: #000000;
  padding: 0;
  font-size: 1rem;
  text-align: inherit;
  color: #ffffff;
  border-radius: 5px;
}

.category {
  padding-right: 7px;
  padding-left: 0px;
  line-height: 30px;
  white-space: normal;
  color: #797979;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding-right: 20px;
  letter-spacing: 0.3px;
  padding-left: 20px;
  font-weight: 700;
}
